.feedlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(6px + 2vmin);
    padding: 1em;
    color: white;
    min-height: 6em;
}

button {
    margin: .35em;
    background: none;
    border: none;
    color: white;
}