.sidebar {
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 20%;
  background: rgb(5, 0, 9);
  background: linear-gradient(
    0deg,
    rgba(5, 0, 9, 1) 72%,
    rgba(2, 0, 5, 0.7189469537815126) 97%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  padding: 1em;
  color: white;
}

label {
  font-size: calc(6px + 2vmin);
  color: rgb(166, 71, 230);
  text-decoration: underline overline;
}

button {
  font-size: calc(6px + 2vmin);
}
button:hover {
  font-size: calc(7px + 2vmin);
}
